@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --navigationheight: 4.8rem;
    }

    html {
        @apply bg-background font-sans text-offwhite;
        font-size: 62.5%;
    }
}

@layer utilities {
    .text-shadow {
        text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
    }

    .text-gradient {
        background: linear-gradient(to right bottom, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.38));
        background-clip: text;
        color: transparent;
    }

    .mask-radial-faded {
        mask-image: radial-gradient(circle at center center, black, transparent 80%)
    }

    .mask-linear-faded {
        mask-image: linear-gradient(black, transparent 70%)
    }
}

@layer components {
    .imgSlider {
        @apply rounded-xl w-[800px] h-[400px]
    }
}


#gooey {
    animation: gooey 2s ease-in-out infinite alternate;
}


.bg-new{
    background-color: #241C36;
}
.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    border: 1px solid #181a1e !important;
    opacity: 100% !important;
    background: #fff !important;
}


.swiper-pagination-bullet-active {
    background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%) !important;
    border: none !important;
}

.swiper {
    padding-bottom: 70px !important;
}


/* 
.swiper-slide.swiper-slide-next {
    background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
    border-radius: 12px;
    box-shadow: 0px 20px 70px rgba(0, 103, 225, 0.3) !important;
} */

.swiper-slide.swiper-slide-next h4 {
    color: #fff !important;
}

.swiper-slide.swiper-slide-next p {
    color: #b4bcd0 !important;
}

.swiper-pagination {
    top: 90% !important;
}

#gooeyL {
    background: linear-gradient(to top right, rgb(69, 94, 181), rgb(86, 67, 204));
    animation: gooeyL 4s ease-in-out infinite alternate;
}


#gooey2 {
    background: linear-gradient(to bottom left, rgb(69, 94, 181), rgb(86, 67, 204));
    animation: gooeyR 4s ease-in-out infinite alternate;
}

@keyframes gooey {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

@keyframes gooeyL {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(-2%, 4%) skew(-8deg);
    }
}

@keyframes gooeyR {
    from {
        transform: translate(20%, -3%);
    }

    to {
        transform: translate(10%, 4%) skew(-12deg);
    }
}